<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "header" .}}
    </head>
    <body>
        {{template "nav" .}}

        <div class="container my-4">

            <div class="text-center">
                <div class="fw-bold mb-3" style="font-size: 8rem;">404</div>
                <div>The page you requested cannot be found ☹</div>
            </div>

            {{template "footer"}}
        </div>
    </body>
</html>