<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "header" .}}
    </head>
    <body>
        {{template "nav" .}}

        <div class="container my-4">
            <div class="mb-3">
                <div class="mb-1"><a href="/" class="btn btn-dark btn-sm mb-1" role="button"><i class="fas fa-reply"></i> Back</a></div>
                <h1>Clinic's Sessions</h1>
            </div>

            <hr/>

            {{ if .ErrorMsg }}
            <div class="alert alert-danger" role="alert">
                {{ ucFirst .ErrorMsg }}
            </div>
            {{ end }}

            {{ if gt (len .Sessions) 0 }}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">User</th>
                            <th scope="col">Is Admin</th>
                            <th scope="col">Last Active</th>
                            <th scope="col">Last Visited</th>
                            <th scope="col" class="text-end">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{ range $key, $val := .Sessions }}
                        <tr>
                            <td>{{ $key }}</td>
                            <td>{{ $val.Id }}</td>
                            <td>{{ if isUserAdminByID $val.Id }}Yes{{ else }}No{{ end }}</td>
                            <td>{{ time2HumanReadable $val.LastModified }}</td>
                            <td>{{ $val.LastVisited }}</td>
                            <td class="text-end"><a href="/admin/sessions?action=delete&sessionId={{ $key }}" class="btn btn-danger btn-sm" role="button">Delete</a></td>
                        </tr>
                    {{ end }}
                    <tr>
                        <td colspan="5"></td>
                        <td class="text-end"><a href="/admin/sessions?action=purge" role="button" class="btn btn-danger btn-sm">Purge All Sessions</a></td>
                    </tr>
                    </tbody>
                </table>
            {{ else }}
                <div>There are no session records.</div>
            {{ end }}

            {{template "footer"}}
        </div>
    </body>
</html>