<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "header" .}}
    </head>
    <body>
        {{template "nav" .}}

        <div class="container my-4">
            <div class="mb-3">
                <div class="mb-1"><a href="/admin/appointments" class="btn btn-dark btn-sm mb-1" role="button"><i class="fas fa-reply"></i> Back</a></div>
                <h1>Manage Appointment</h1>
            </div>

            <hr/>

            {{ if .ErrorMsg }}
            <div class="alert alert-danger" role="alert">
                {{ ucFirst .ErrorMsg }}
            </div>
            {{ end }}

            {{ if .Appt }}
                <div class="mb-3">
                    Appointment (<strong>{{ .Appt.Id }}</strong>) for <strong>{{ .Appt.Patient.First_name }} {{ .Appt.Patient.Last_name }} ({{ .Appt.Patient.Id }})</strong> with <strong>Dr. {{ .Appt.Doctor.First_name }} {{ .Appt.Doctor.Last_name }} ({{ .Appt.Doctor.Id }})</strong> is scheduled for <strong>{{ time2HumanReadableFull .Appt.Time }}</strong>
                    <br/>If you would like to change the doctor, please cancel and make a new appointment.
                </div>

                <form method="post">
                    <input class="form-control" type="hidden" name="apptId" value="{{.Appt.Id}}" readonly>

                    {{ if not .ChosenDate }}
                        <div class="form-group mb-3">
                            <label for="date" class="form-label">Select Date</label>
                            <input class="form-control datePicker bg-white" type="text" name="date" value="{{ if .ChosenDate }} {{ .ChosenDate }} {{ end }}">
                        </div>
                    {{ else }}
                        <div class="form-group mb-3">
                            <h2>{{ .ChosenDate }}</h2>
                            <input class="form-control" type="hidden" name="date" value="{{ .ChosenDate }}" readonly>
                        </div>
                    {{ end }}

                    {{ if .ChosenDate }}
                        {{ if gt (len .TimeslotsAvailable) 0 }}
                        <div class="form-group mb-3">
                            <label for="timeslot" class="form-label">Change Timeslot</label>
                            <select class="form-select" name="timeslot">
                            {{ range .TimeslotsAvailable }}
                                <option value="{{.}}">{{time2HumanReadable .}}</option>
                            {{ end }}
                            </select>
                        </div>

                        <div><button type="submit" class="btn btn-primary mb-3">Edit Appointment</button></div>
                        {{ end }}
                    {{ else }}
                        <div><button type="submit" class="btn btn-primary mb-3">Next</button></div>
                    {{ end }}
                </form>
            {{end}}

            {{template "footer"}}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
            <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
            <script>
                flatpickr(".datePicker", {
                    dateFormat: "d F Y",    // submitted
                    minDate: "today",
                    maxDate: new Date().fp_incr({{ maxAdvanceApptDays }}) // 14 days from now
                });
            </script>
        </div>
    </body>
</html>