<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "header" .}}
    </head>
    <body>
        {{template "nav" .}}

        <div class="container my-4">
            <div class="mb-3">
                <div class="mb-1"><a href="/" class="btn btn-dark btn-sm mb-1" role="button"><i class="fas fa-reply"></i> Back</a></div>
                <h1>Clinic's Users</h1>
            </div>

            <hr/>

            {{ if .ErrorMsg }}
            <div class="alert alert-danger" role="alert">
                {{ ucFirst .ErrorMsg }}
            </div>
            {{ end }}

            {{ if gt (len .Patients) 0 }}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Is Admin</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{ range .Patients }}
                        <tr>
                            <td>{{ .Id }}</td>
                            <td>{{ .First_name }} {{ .Last_name }}</td>
                            <td>{{ if .IsAdmin }}Yes{{ else }}No{{ end }}</td>
                            <td><a href="/admin/users?action=delete&userId={{ .Id }}" role="button" class="btn btn-danger btn-sm">Delete</a></td>
                        </tr>
                    {{ end }}
                    </tbody>
                </table>
            {{ else }}
                <div>There are no session records.</div>
            {{ end }}

            {{template "footer"}}
        </div>
    </body>
</html>