<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "header" .}}
    </head>
    <body>
        {{template "nav" .}}

        <div class="container my-4">
            <div class="mb-3">
                <div class="mb-1"><a href="/" class="btn btn-dark btn-sm mb-1" role="button"><i class="fas fa-reply"></i> Back</a></div>
                <h1>My Appointment</h1>
            </div>

            <hr/>

            {{ if gt (len .User.Appointments) 0 }}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Appointment ID</th>
                            <th scope="col">Time</th>
                            <th scope="col">Dr.</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{ range $key, $val := .User.Appointments }}
                        <tr>
                            <td>{{ $val.Id }}</td>
                            <td>{{ time2HumanReadable $val.Time }}</td>
                            <td>{{ $val.Doctor.First_name }} {{ $val.Doctor.Last_name }}</td>
                            <td>
                                <form class="d-inline-block" method="post" action="/appointment/edit?apptId={{$val.Id}}&action=edit">
                                    <button type="submit" class="btn btn-primary btn-sm">Edit</button>
                                </form>

                                <form class="d-inline-block" method="post" action="/appointment/edit?apptId={{$val.Id}}&action=cancel">
                                    <button type="submit" class="btn btn-danger btn-sm">Cancel</button>
                                </form>
                            </td>
                        </tr>
                    {{ end }}
                    </tbody>
                </table>
            {{ else }}
                <div>You have no upcoming appointments.</div>
            {{ end }}

            {{template "footer"}}
        </div>
    </body>
</html>