<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "header" .}}
    </head>
    <body>
        {{template "nav" .}}

        <div class="container my-4">

            {{ if .ErrorMsg }}
            <div class="alert alert-danger" role="alert">
                {{ ucFirst .ErrorMsg }}
            </div>
            {{ end }}

            <div class="mb-3">
                <div class="mb-1"><a href="/" class="btn btn-dark btn-sm mb-1" role="button"><i class="fas fa-reply"></i> Back</a></div>
                <h1>Our Doctors</h1>
                <div>Select a doctor and date to view his/her availability</div>
            </div>

            <hr/>

            <form method="post">
                <div class="form-group mb-3">
                    <label for="timeslot" class="form-label">Doctor</label>
                    <select class="form-select" name="doctorID">
                        {{ range .Doctors }}
                            <option value="{{.Id}}" {{ if $.ChosenDoctor }} {{ if eq $.ChosenDoctor.Id .Id }} selected {{ end }} {{ end }}>{{ .First_name }} {{ .Last_name }}</option>
                        {{ end }}
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="date" class="form-label">Select Date</label>
                    <input class="form-control datePicker bg-white" type="text" name="date" value="{{ if .ChosenDate }} {{ .ChosenDate }} {{ end }}">
                </div>
                <div><button type="submit" class="btn btn-primary mb-3">Submit</button></div>
            </form>

            {{ if .ChosenDoctor }}
                {{ if .ChosenDate }}
                    {{ if gt (len .TimeslotsAvailable) 0 }}
                        <div>Available timeslots</div>

                        <ul>
                        {{ range .TimeslotsAvailable }}
                            <li>{{time2HumanReadable .}}</li>
                        {{ end }}
                        </ul>
                    {{ else }}
                        <div>There are no more available timeslots for Dr. {{ .ChosenDoctor.First_name }} {{ .ChosenDoctor.Last_name }}</div>
                    {{ end }}
                {{ else }}
                    <div>Select a date to view timeslots</div>
                {{ end }}
            {{ end }}

            {{template "footer"}}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
            <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
            <script>
                flatpickr(".datePicker", {
                    dateFormat: "d F Y",
                    minDate: "today",
                    maxDate: new Date().fp_incr({{ maxAdvanceApptDays }})
                });
            </script>
        </div>
    </body>
</html>