<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "header"}}
    </head>
    <body>
        {{template "nav" .}}

        <div class="container my-3">
            <div class="mb-3">
                <h1>Edit Appointment</h1>
            </div>

            <hr/>

            <div class="mb-3">Your appointment ({{ .Appt.Id }}) with <strong>Dr. {{ .Appt.Doctor.First_name }} {{ .Appt.Doctor.Last_name }}</strong> is scheduled for <strong>{{ time2HumanReadable .Appt.Time }}</strong></div>   

            <form method="post">

                {{ if .ChosenDoctor }}
                    {{ if gt (len .TimeslotsAvailable) 0 }}
                    <div class="form-group mb-3">
                        <label for="timeslot" class="form-label">Change Timeslot</label>
                        <select class="form-select" name="timeslot">
                        {{ range .TimeslotsAvailable }}
                            <option value="{{.}}">{{time2HumanReadable .}}</option>    
                        {{ end }}
                        </select>
                    </div>

                    <div><button type="submit" class="btn btn-primary mb-3">Edit Appointment</button></div>
                    {{ else }}
                        <div class="mb-3">There are no timeslots available.</div>
                    {{ end }}
                {{ end }}
            </form> 

            {{template "footer"}}
        </div>
    </body>
</html>