<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "header" .}}
    </head>
    <body>
        {{template "nav" .}}

        <div class="container my-3">
            <div class="mb-3">
                <h1>My Profile</h1>
            </div>

            <hr/>

            {{ if .ErrorMsg }}
            <div class="alert alert-danger" role="alert">
                {{ .ErrorMsg }}
            </div>
            {{ end }}

            <div>
                <form method="post">
                    <div class="form-group mb-3">
                        <label for="nric" class="form-label">NRIC:</label>
                        <input class="form-control" type="text" name="nric" placeholder="nric" value="{{ .User.Id }}" readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input class="form-control" type="password" name="password">
                    </div>
                    <div class="form-group mb-3">
                        <label for="firstname" class="form-label">First name:</label>
                        <input class="form-control" type="text" name="firstname" placeholder="first name" value="{{ .User.First_name }}">
                    </div>
                    <div class="form-group mb-3">
                        <label for="lastname" class="form-label">Last name:</label>
                        <input class="form-control" type="text" name="lastname" placeholder="last name" value="{{ .User.Last_name }}">
                    </div>

                    <button type="submit" class="btn btn-primary mb-3">Submit</button>
                </form>
            </div>
        </div>

        {{template "footer"}}
    </body>
</html>